
.body{
	background-color:#ABB2B9;
	}

.main-menu {
    padding: 55px;
	padding-left: initial;
	padding-top: 0px;
	font-family: cursive;
	color: floralwhite;
}

.background-class {
            position: fixed;
    background-image: url(image/back5.png);
    height: 7em;
    text-align: center;
    padding-top: 4em;
    width: 100%;
	margin-top: -9px;
}

.hi-class{
	color:white;
}

.name-class{
	color: #82E0AA ;
}

.main-div{
	width:100%;
	padding-top : 2em;
}

.myimg{
	width:200px;
	border-radius: 50%;
}
.grid{
	float: left;
    width: 25%;
    margin-left: 111px;
}
.two-tile-grid{
	float: left;
    margin-left: 130px;
    width: 40%;
}

.footer-section{
	text-align: center;
    color: floralwhite;
    font-style: italic;
    font-variant: small-caps;
	clear:all;
}

.heading-font{
	font-family: cursive;
    font-style: normal;
    color: floralwhite;
}
.detail-font{
	    color: ivory;
    font-family: cursive;
}
.about-city{
	width: 80%;
    float: left;
    margin-left: 107px;
    margin-right: 158px;
}
.gallery{
	
    float: left;
    padding-left: 110px;
    color: floralwhite;
	width: 100%;
	
}

.image{

    padding-left: 108px;
    width: 1130px;
    height: 550px;
    padding-right: 108px;
    padding-top: 50px;
}

.content{
	
	padding-top:10em;
}

p:hover { 
    color: yellow;
}

li {
    margin-left: 71px;
    display: inline-block;
}

.box-testing {
	    padding-left: 130px;
		margin-top: 193px;
}
.red-box{
	color: aliceblue;
    background-color: red;
    width: 400px;
    height: 215px;
	position: fixed;
	z-index: 1000;
}
.Blue-box{
	color: aliceblue;
    background-color: blue;
    width: 400px;
    height: 215px;
	position: relative;
}
.Yellow-box{
	color: aliceblue;
    background-color: yellow;
    width: 400px;
    height: 215px;
	
}